.answerchoice {
  border: 1px solid black;
  border-radius: 50px;
  width: 40%;
  color: black;
  text-align: center;
  margin: 10px auto;
  font-size: 20px;
  background-color: white;
}

img {
  max-height: 250px;
  width: auto;
}

#answerblock {
  text-align: center;
}

#questionblock {
  text-align: center;
  font-weight: bold;
}

#reset {
  visibility: visible;
}

body {
  background-image: url("../images/Golden-State-Warriors-Logo.jpg");
  background-size: cover;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  color: white;
  font-weight: bolder;
  padding: 20px;
  font-size: 45px;
}

p {
  margin: 10px;
  font-weight: bold;
  color: green;
  font-size: 20px;
}

h2,
h4 {
  margin: 30px;
  font-weight: bold;
}

.wrapper {
  margin: 10px auto;
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid navy;
  height: 500px;
  width: 60%;
  text-align: center;
}

.btn {
  position: relative;
  bottom: -100px;
}

/* body {
  background-color: lightgray;
}

.grid {
  width: 600px;
  height: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 10px 50px 50px 50px;
  border-radius: 50px;
  border: 2px solid #cbcbcb;
  box-shadow: 10px 15px 5px #cbcbcb;
}
.grid h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #57636e;
  font-size: 60px;
  border-radius: 50px;
  color: #fff;
  padding: 2px 0px;
  text-align: center;
}

.grid .question {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  color: #5a6772;
}

.buttons {
  margin-top: 30px;
}

.btn0,
.btn1,
.btn2,
.btn3,
.btn4 {
  background-color: #778897;
  width: 250px;
  font-size: 20px;
  color: #fff;
  border: 1px solid #1d3c6a;
  border-radius: 50px;
  margin: 10px 40px 10px 0px;
  padding: 10px 10px;
  text-align: center;
}

#timer {
  color: #2b2b2b;
  font-size: 18px;
  height: 30px;
}

.btn0:hover,
.btn1:hover,
.btn2:hover,
.btn3:hover,
.btn4:hover {
  cursor: pointer;
  background-color: #57636a;
}
.btn0:focus,
.btn1:focus,
.btn2:focus,
.btn3:focus,
.btn4:focus {
  outline: 0;
} */
